<div class="container mt-4">
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit class: 'btn btn-primary my-4' %>
  <% end %>
</div>
